@media screen and (min-width:1000px){
    .headitem{
        background-image: url(../img/header.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 750px;
    }
    .hitem1{
        position: relative;
        top: 40%;
        color: white;
        font-family: 'Homemade Apple', cursive;
        font-size: 130px;
    }
    .jpimg{
        width: 100%;
        height: 400px;
    }
    .slider{
        width: 650px;
        height: 400px;
    }
    footer{
        position: relative;
        background-image: url(../img/footer.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 500px;
    }
}
@media screen and (max-width:999px){
    .headitem{
        background-image: url(../img/header.jpg);
        background-size: cover;
        background-position: center;
        height: 750px;
    }
    .hitem1{
        position: relative;
        top: 40%;
        color: white;
        font-family: 'Homemade Apple', cursive;
    }
    .jpimg{
        width: 100%;
        height: 400px;
    }
    .slider{
        padding: 0;
        width: 100%;
        height: 400px;
    }
    footer{
        position: relative;
        background-image: url(../img/footer.jpg);
        background-size: cover;
        background-position: center;
        height: 500px;
    }

}
.headitem1{
    font-size: 44px;
    color: rgba(32, 32, 27, 0.808);
}
.navitem{
    position: absolute;
    top: 25px;
    right: 25px;
}
.mitem{
    color: white;
    font-family: serif;
}
.sectionitem1{
    color: rgb(75, 85, 94);
    font-family: serif;
    font-size: 18px;
}
.divitem1{
    font-size: 15px;
}
.imgmask{
    height: 90%;
    background: rgba(255, 255, 255, 0.726);
    border-radius: 15px;
    margin-top: 13px;
    overflow: scroll;
}
.sitem1{
    background-image: url(../img/sitem1.jpg);
    background-size: cover;
    height: 250px;
    color: rgba(0, 0, 0, 0.822);
    border-radius: 15px;
}
.sitem2{
    background-image: url(../img/sitem2.jpg);
    background-size: cover;
    height: 250px;
    color: rgba(0, 0, 0, 0.822);
    border-radius: 15px;
}
.sitem3{
    background-image: url(../img/sitem3.jpg);
    background-size: cover;
    height: 250px;
    color: rgba(0, 0, 0, 0.822);
    border-radius: 15px;
}
.sectionitem2{
    color: rgb(75, 85, 94);
    font-family: serif;
}
.navhead{
    color: rgb(75, 85, 94);
}
.cp_hr06 {
	position: relative;
	height: 1px;
	border-width: 0;
	background-image: -webkit-linear-gradient(left,
	transparent 0%,#31b7c9 50%,transparent 100%);
	background-image:         linear-gradient(90deg,
	transparent 0%,#39b3c9 50%,transparent 100%);
}
.flag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.badge{
    color: white;
}
.jphead{
    font-size: 30px;
}
.jdditem{
    font-size: 18px;
}
.hitem2{
    position: relative;
    top: 25%;
    color: white;
    font-family: 'Homemade Apple', cursive;
}
.btn-social {
    width: 120px;    
    color: white;
  }
  /* Facebook */
  .btn-fb {
      background-color: #3B5998;
  }
  /* Twitter */
  .btn-tw {
      background-color: #00aced;
  }
  /* line */
  .btn-line {
      background-color: #41e419;
  }
  /* Instagram */
  .btn-inst{
    background: linear-gradient(45deg, rgb(255, 221, 26) 10%, rgba(241, 47, 225, 0.7) 90%);
  }
  .btn-social:hover{
      opacity: 0.7;
  }
.sectionitem4{
    position: absolute;
    bottom: 0px;
    background-color: rgba(221, 238, 241, 0.9);
    width: 100%;
    height: 130px;
}
.fditem{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    height: 130px;
    color: #9ea5a7;
}
p{
    font-size: 20px;
}